body {
    font-family: 'SF UI  Text';
}

.box {
    width: 47px;
    height: 47px;
    background-color: #e5e5e5;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4px;
    border-radius: 6px;
    box-sizing: border-box;

    transition:
        background-color 0.25s ease,
        transform 0.25s ease,
        box-shadow 0.25s ease;
    
        will-change: transform;

}

.box.active {
    background-color: #38bdf8;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.6);
}

.box.found {
    background-color: #22c55e;
    transform: scale(1.15);
    box-shadow: 0 0 12px rgba(34, 197, 94, 0.6);
}

canvas {
    color: black;
    background: #ffffff;
    margin-top: 20px;
    border-radius: 8px;
}